@charset "utf-8";

/* next-3-days */
.next-3-days {
  width: 100%;
  margin-top: 1em;
}

.next-3-days__container {
  display: flex;
  flex-wrap: wrap;
}

.next-3-days__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 0.8em 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.09em;
  text-align: center;
}

.next-3-days__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.83em;
}