@charset "utf-8";

/******* Search Bar */
.navbar {
  width: 100%;
  background: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 25px;
}

.navbar .navbar-brand {
  letter-spacing: 2px;
  transform: scale(1.2);
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar .navbar-brand img {
  width: 35px;
  height: auto;
  margin-right: 5px;
}

.navbar input[type="search"],
.navbar .btn {
  border-radius: 0;
  outline: none;
}

.navbar .form-control {
  border: transparent;
}

.navbar input[type="search"] {
  width: 270px;
  color: lightgrey !important;
  border-right: none;
  background: rgba(0, 0, 0, 0.144);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navbar input[type="search"]:focus {
  border-right: none;
  background: rgba(0, 0, 0, 0.247);
}

.navbar input[type="search"]::placeholder {
  color: lightgray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .navbar input[type="search"] {
    width: 230px;
  }
}

@media screen and (max-width: 576px) {
  .navbar input[type="search"] {
    width: 100%;
  }

  .search_form {
    margin: 10px 0 10px -10px;
  }
}

.navbar .btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.425);
  color: rgba(255, 255, 255, 0.877);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 2px;
}

.navbar .btn:hover {
  background: rgba(0, 0, 0, 0.541);
  color: rgba(255, 255, 255, 0.808);
}
